<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-cookies.js"></script>
<script src="../static/profile.js"></script>
<head>
    <meta charset="utf-8">
    <title>mySquareMeal - Update Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../static/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="../static/css/flexslider.css" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/superfish.js"></script>
    <script src="../static/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="profile_app" ng-controller="profile_controller">
<div id="top-bar" class="container">
    <div class="row"></div>
    <div class="span11">
        <div class="account pull-left ">
            <img src="../static/images/logo.png" width= 50% height= 50% alt="logo"> </img>
        </div>
        <div class="account pull-right">
            <ul class="user-menu">
                <li><a href="{{url_for('home_redirect')}}">Home</a></li>
                <li><a href="{{url_for('restaurants_redirect')}}">Restaurants</a></li>
                <li><a href="{{url_for('logout_redirect')}}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" class="container">

    <section class="main-content">

        <div class="row">
            <div  class="span12">
                <h1 class="text-center">mySquareMeal</h1>
                <div class = "text-center">
                    <form id="profile-form-id" name="profile_form" novalidate class="ng-invalid">
                    <br>
                        <h4>Your food allergies:</h4>
                        <div id="allergy_list_div">
                            <ul id="allergy_list">

                            </ul>
                        </div>
                        <br>
                        <div class = "justify-content-between">
                            <div class="form-group">
                                <label for="reg_foodprefs"><h4>Remove current or add new food allergy items</h4><sup style="color: red">*</sup><text style="color: red">(separate by Comma)</text></label>
                                <input type="text" class="form-control" id="reg_foodprefs" name="reg_foodprefs" placeholder="food preferences" ng-model="allergies" ng-pattern="input_list" ng-required="true" ng-change="check_input_list()">
                                <span style="color: red" ng-if="profile_form.reg_foodprefs.$error.required && profile_form.reg_foodprefs.$dirty"><br>Food allergy information is required</br></span>
                                <span style="color:red" ng-show="profile_form.reg_foodprefs.$error.pattern"><br>Use letters and comma</br></span>

                            </div>
                        </div>
                        <br>
                        <button type="submit" id="submit" name="submit" class="btn btn-round-lg" ng-disabled="profile_form.$invalid" ng-click="add_allergies(allergies)">Add</button>
                        <br>
                        <br>
                        <button type="submit" id="submit" name="submit" class="btn btn-round-lg" ng-disabled="profile_form.$invalid" ng-click="remove_allergies(allergies)">Remove</button>
                        <br>

                    </form>
                </div>
                <!-- end:Main Form -->
            </div>
        </div>
    </section>
    <section id="copyright">
        <span>copyright Mandar Gade, Neha Kumar, Varun Shah, Setu Pandya, San Jose State University</span>
    </section>
</div>
<script src="../static/js/common.js"></script>
</body>

</html>